footer {
    width: 100%;
    height: 4rem;
    background-color: transparentize($bgColor, 0.3);
    display: none;
    @include desktop {
        box-shadow: 0 5px 15px $secondaryTextColor;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        z-index: 1;
    }
    p {
        color: $textColor;
        @include desktop {
            max-width: 1000px;
        }
    }
}