body {
    background-color: $bgColor;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.background-layer {
    width: 100vw;
    height: 2000vh;
    @include desktop {
    }
    background-image: url(../img/backgrounds/ep_naturalblack.png);
    background-position: bottom;
    background-repeat: repeat;
    position: fixed;
    opacity: 0.5;
    z-index: -1;
}


h1 {
    font-family: $headerFont;
    font-size: 3.5rem;
    line-height: 4rem;
    color: $textColor;
    text-align: center;
    @include desktop {
        font-size: 5rem;
        line-height: normal;
    }
    + p {
        color: $textColor;
        font-size: 1.2rem;
        text-align: center;
        width: 80%;
        margin-top: 1rem;
        @include desktop {
            font-size: 1.6rem;
        }
    }
}

p {
    font-family: $textFont;
    line-height: 1.5;
}