$bgColor: #00050b;
$altColor: #0D2433;
$accentColor: #2D80D8;
$textColor: #FFFEFF;
$secondaryTextColor: #9E9D9E;

$headerFont: 'Open Sans', sans-serif;
$textFont: 'Titillium Web', sans-serif;

$tablet: "760px";
$desktop: "1025px";