$bgColor: #191719;
$altColor: #0D2433;
$accentColor: #2D80D8;
$textColor: #FFFEFF;
$secondaryTextColor: #9E9D9E;

$headerFont: 'Sarala', sans-serif;
$textFont: 'Raleway', sans-serif;

$tablet: "760px";
$desktop: "1025px";